*.log
logs/**
autostart/
dconf/
discord/
enchant/
eog/
evolution/
gedit/
gnome-sesstion/
goa-1.0/
gtk-?.0/
htop/
ibus/
libfm/
libreoffice/
Microsoft/
Microsoft*Teams*-*Preview/
qBittorrent/
Slack/
teams/
Unknown*Organization/
update-notifier/
pulse/
nautilus/
pcmanfm/
user-*
zoomus.conf
QtProject.conf
mimeapps.list
gnome-initial-setup-done
